extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Adam Allen
        p A Full Stack JavaScript Developer
        .about-bio
          p Here is my elevator pitch: If you don't want to hire me after having your mind completely blown by my incredible JavaScript portfolio, you deserve to go out of business. Hire me so that doesn't happen. 
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python
          li Java
          li MySQL

        h6 Contact Info
        ul
          li 716-555-1234
          li aallen6@travelers.com
        a.btn-link(href='https://github.com/tpo-aallen6') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back
