<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Adam Allen's Portfolio
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/myPicture.jpg', alt='Adam Allen Profile Picture')
        .dev-intro-box
          h5 Adam Allen
          p This is a portfolio of all the amazing JavaScript projects that I've built while attending the Treehouse Full Stack JavaScript developer bootcamp. 
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Adam Allen

      block content

  script(src='/static/js/script.js')
  